<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= title %></title>
</head>
<body>
  <header>
    <nav>
      <div>
        <h2>WelCome <%= user.username %></h2>
        <li style="display: inline-block;margin:30px;font-weight : bold;}"><a href="/user/logout">Logout</a></li>
      </div>
    </nav>
  </header>
  <div>
    <div>
     <ul id="hell0">
     </ul>
   </div>
 </div>
 <main>
   <div>
    <input type="hidden" id="user" value="<%= user.username %>">
    <div>
     <div>
      <div>
        <div  id="scrl1">
          <h4>Click on the user button whom you want to chat with</h4>
          <ul id="list"></ul>
        </div>
        <div>
          <p id="typing" class="btn btn-danger btn-block btn-lg"></p>
        </div>
      </div>
    </div>
    <div>
      <div>
       <div>
        <h4 id="frndName">Chat Room</h4>
      </div>
      <div id="scrl2">
        <p id="loading"></p>
        <p id="noChat"></p>
        <p id="initMsg"></p>
        <ul id="messages"></ul>
      </div>
      <div>
        <form id="chatForm" action="">
         <input id="myMsg" autocomplete="off" placeholder="Write Message Here..">
         <button id="sendBtn"><span></span> <b>Send</b></button>
       </form>
     </div>
   </div>
 </div>
</div>
</div>
</main>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="http://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/moment.min.js"></script>
<script src="/scriptforChat.js"></script>
</body>
</html>
